<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<h1>TODO ! Détail du candidat</h1>
<a th:href="@{/candidats/}">Revenir à la liste</a>

<h2 th:utext="'Nom :' + ${candidat.nom}"></h2>
<h2 th:utext="'Prénom :' + ${candidat.prenom}"></h2>
<h2 th:utext="'Adresse :' + ${candidat.adresse}"></h2>
<h2 th:utext="'Date :'+ ${#dates.day(candidat.dateNaissance)} + '/' + ${#dates.month(candidat.dateNaissance)} + '/' + ${#dates.year(candidat.dateNaissance)}"></h2>
</body>
</html>