<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<h1 th:if="${candidat.id == null}">Ajouter un candidat ! </h1>
<h1 th:if="${candidat.id != null}">Modifier un candidat ! </h1>

<a th:href="@{/candidats/}">Revenir en arrière</a>

<form th:object="${candidat}" method="post">
    <div>
    <label>
        Nom
    </label>
        <input type="text" th:field="*{nom}" /> <br>
        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
    </div>

    <div>
    <label>
        Prenom
    </label>
    <input type="text" th:field="*{prenom}" /> <br>
    <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
    </div>


    <div>
    <label>
        Date de naissance
    </label>
        <input type="date" th:field="*{dateNaissance}" /> <br>
        <span th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}"></span>
    </div>

    <div>
    <label>
        Adresse
    </label>
        <input type="text" th:field="*{adresse}" /> <br>
        <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></span>
    </div>

    <div>
    <label>
        Ville
    </label>
        <input type="text" th:field="*{ville}" /> <br>
        <span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
    </div>

    <div>
        <label>
            Code postal
        </label>
        <input type="text" th:field="*{codePostal}" /> <br>
        <span th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
    </div>

    <input type="submit" value="envoyer !">
</form>
</body>
</html>