<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<h1>La liste des candidats !</h1>

<a th:href="@{/candidats/add}">Ajouter un candidat</a>
<table>
    <thead>
    <tr>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Date de naissance</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Ville</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="candidat: ${ candidats }">
            <td th:utext="${candidat.adresse}"></td>
            <td th:utext="${candidat.codePostal}"></td>
            <td th:utext="${#dates.day(candidat.dateNaissance)}+'/'+
            ${#dates.month(candidat.dateNaissance)} + '/' + ${#dates.year(candidat.dateNaissance)}"></td>
            <td th:utext="${candidat.nom}"></td>
            <td th:utext="${candidat.prenom}"></td>
            <td th:utext="${candidat.ville}"></td>

            <td>
                <a th:href="@{/candidats/{candidat}(candidat=${candidat.id})}">Voir le détail</a> <br>
                <a th:href="@{/candidats/edit/{candidat}(candidat=${candidat.id})}" th:utext="'Editer le candidat ' +${candidat.nom}"></a> <br>
                <a th:href="@{/candidats/delete/{candidat}(candidat=${candidat.id})}" th:utext="'Supprimer le candidat ' +${candidat.nom}"></a> <br>

            </td>
        </tr>
    </tbody>
</table>

</body>
</html>